:root {
  --ifm-color-primary: #00a7e4;
  --ifm-color-primary-dark: #0096cd;
  --ifm-color-primary-darker: #008ec2;
  --ifm-color-primary-darkest: #0075a0;
  --ifm-color-primary-light: #00b8fb;
  --ifm-color-primary-lighter: #07bdff;
  --ifm-color-primary-lightest: #29c6ff;
}

[data-theme='dark'] {
  --ifm-color-primary: #00a7e4;
  --ifm-color-primary-dark: #0096cd;
  --ifm-color-primary-darker: #008ec2;
  --ifm-color-primary-darkest: #0075a0;
  --ifm-color-primary-light: #00b8fb;
  --ifm-color-primary-lighter: #07bdff;
  --ifm-color-primary-lightest: #29c6ff;
}

.footer {
  text-align: center;
}

/**
*.footer {
*  background-color: #000000;
*  color: var(--ifm-footer-color);
*  padding: var(--ifm-footer-padding-vertical) var(--ifm-footer-padding-horizontal);
*}
*
*.footer--dark {
*    background-color: #ffffff;
*  --ifm-footer-background-color: #ffffff;
*  --ifm-footer-color: var(--ifm-footer-link-color);
*  --ifm-footer-link-color: var(--ifm-color-secondary);
*  --ifm-footer-title-color: var(--ifm-color-white);
*}
*/

/* More on the sceen */
:root {
  --ifm-container-width-xl: 1600px;
  --ifm-container-width: 1280px;
}

/* Remove right row for small and big screen - START */
@media (max-width: 997px) {
  .row .col.col--7 {
    --ifm-col-width: 100%;
  }
}
@media (min-width: 997px) {
  .row .col.col--7 {
    --ifm-col-width: 75%;
  }
}
/* Remove right row for small and big screen - END*/

.title_f1Hy {
  color: #00a7e4;
}

.yearGroupHeading_rMGB {
  background: #00a7e4;
  color: #fff;
  line-height: 2rem;
}

.markdown {
  text-align: justify;
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%;
  justify-content: center;
  /* Player ratio: 100 / (1280 / 720) */
}

.img_ev3q {
  display: block;
  margin: auto;
}